<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<link rel="stylesheet" th:href="@{/login/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/login/css/index.css}">
	<link rel="stylesheet" th:href="@{/login/css/iconfont.css}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<title>影视直播厅</title>
	<script th:src="@{/login/js/jquery.js}"></script>
	<script th:src="@{/login/js/vue.js}"></script>
</head>
<body>
<h1 align="center">欢迎进入电影网站首页</h1>
<div sec:authorize="isAnonymous()">
	<h2 align="center">游客您好，如果想查看电影<a th:href="@{/userLogin}">请登录</a></h2>
</div>
<div sec:authorize="isAuthenticated()">
	<h2 align="center"><span sec:authentication="name" style="color: #007bff"></span>您好，您的用户权限为<span sec:authentication="principal.authorities" style="color:darkkhaki"></span>，您有权观看以下电影</h2>
	<form th:action="@{/mylogout}" method="post">
		<input th:type="submit" th:value="注销" />
	</form>
</div>
<hr>
<div class="container">
	<div sec:authorize="hasAnyAuthority('student')" class="mb-3 form-container" >
		<h3>学生信息</h3>
		<div th:insert="student/studentInfo.html"></div>
	</div>

	<div sec:authorize="hasAuthority('teacher')" class="form-container" id="form-container">
		<div th:insert="teacher/common.html"></div>
<!--		<form-wrapper/>-->
		<div v-if="formDatas.length != 0">
			<form :id="count" v-for="f of formDatas">
				<table class="table table-bordered">
					<tr>
						<td v-for="field of fields">
							<input type="text" :name="field" class="w-75 border-0" v-model.trim="f[field]"
								   v-if="['stuname', 'classname'].includes(field)">
							<input v-else type="text" :name="field" class="w-75 border-0" v-model.number.trim="f[field]">
						</td>
						<td>占位</td>
					</tr>
				</table>
			</form>
		</div>
		<div class="add-bar" id="add-bar" @click="dynamicCreateRows" v-show="show">
			<i class="iconfont icon-tianjia"></i>
		</div>
		<button id="send" class="btn mt-3 btn-primary" @click="send" v-show="show">提交</button>
	</div>


	<div sec:authorize="hasAuthority('Admin')">
<!--		<a href="">添加班级</a>-->
		<div th:insert="admin/register.html"></div>

	</div>
</div>

<script th:inline="javascript">
	let fields =  [[${fields}]];
</script>
<script th:src="@{/login/js/index.js}" type="module">

</script>
</div>
</body>
</html>

