<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>学生分班</p>
<a th:href="@{/}">返回</a>
<form th:action="@{/distributeClass}" method="post">
<table border="1">
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>班级</th>
    </tr>
    <tr th:each="notClass:${notClasslist}">
        <td><input type="text" th:value="${notClass.id}" name="id"></td>
        <td th:text="${notClass.stuname}"></td>
        <td>
            <select name="classname" id="">
                <option></option>
            <option th:each=" Class: ${Classlist}" th:value='${Class.classname}'>[[${Class.classname}]]</option>
            </select>
        </td>
    </tr>

</table>
    <input type="submit" value="提交">
</form>
<script th:inline="javascript">


</script>

</body>
</html>