<button class="btn btn-primary mb-3" id="addStudents" @click="dynamicCreateRows()">添加学生成绩</button>
<table class="table table-bordered">
  <thead >
    <tr>
      <th>姓名</th>
      <th>班级</th>
      <th>语文</th>
      <th>数学</th>
      <th>英语</th>
      <th>平均分</th>
      <th>总分</th>
      <th>操作</th>
    </tr>
  </thead>
  <tr th:each="StuGrade: ${StuGradeList}">
    <td th:text="${StuGrade.stuname}">11</td>
    <td th:text="${StuGrade.classname}"></td>
    <td th:text="${StuGrade.yuwen}">111</td>
    <td th:text="${StuGrade.math}">11</td>
    <td th:text="${StuGrade.english}">11</td>
    <td th:text="${StuGrade.average}">11</td>
    <td th:text="${StuGrade.allgrade}">11</td>
    <td>
      <button class="btn btn-danger remove-btn" th:data-id="${StuGrade.id}"
              @click="remove">删除</button>
      <button class="btn btn-info change-btn" th:data-id="${StuGrade.id}"
              @click="dynamicCreateRows($event, 'insert')">修改</button>
      </td>
  </tr>
</table>
</form>


