<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>影片详情</title>
</head>
<body>
	<a th:href="@{/}">返回</a>
	<table border="1">
		<tr>
			<th>姓名</th>
			<th>语文</th>
			<th>数学</th>
			<th>英语</th>
			<th>平均分</th>
			<th>总分</th>
		</tr>
		<tr th:each="StuGrade: ${StuGradeList}">
			<td th:text="${StuGrade.stuname}">11</td>
			<td th:text="${StuGrade.yuwen}">111</td>
			<td th:text="${StuGrade.math}">11</td>
			<td th:text="${StuGrade.english}">11</td>
			<td th:text="${StuGrade.average}">11</td>
			<td th:text="${StuGrade.allgrade}">11</td>
		</tr>
	</table>
</body>
</html>