<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HelloSpringBoot.Mapper.StuClassMapper">

    <select id="likeClassName" parameterType="HelloSpringBoot.domain.StuClass">
        <bind name="class_name" value="'%'+classname+'%'"/>
        select classname from stu_class where classname like #{class_name}
    </select>

</mapper>